*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.App{
    min-width: 350px;
    max-width: 800px;
    width: 100%;
    background-color: rgb(47, 47, 47);
    margin: auto;
    height: 100vh;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
}

